<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>
        {% block title %}
        базовый шаблон
        {% endblock %}
    </title>
</head>
<body style="filename='css/style.css'filename='css/style.css'">
<header>
    <br>
    <H2>Страница притствия</H2>
    <br>
    <hr>
</header>

{% block content %}
{% endblock %}
<footer>
    <hr>
    <H6>Разрешено свободное использоание материалов сайта</H6>
</footer>
</body>
</html>
