html{
    background-color: rgba(120, 177, 237, 0.8);
}
H4 {
    color: rgba(69, 3, 3, 0.95);
    text-align: right;
    color: red;
}
H2 {
    color: rgba(44, 3, 148, 0.95);
    text-align: center;
    color: green;
}
H3 {
    text-align: center;
    color: blue;
}
.menu {
    margin: auto;
    width: auto;
}
.menu-td {
    background-color: rgb(219, 234, 236);
    border: 3px solid rgb(173, 231, 207);
    padding: 10px 10px 10px 10px;

}

.news {
    width: 90%;
    margin: auto;
}

.news-td {
    width: 40%;
    border: 1px solid ;
    background-color: #6B8E23;
    text-align: justify ;
}
.news-td-title {
    font-style: italic;
}
.news-td-data {
    text-align: justify;
}
body {
    width: 70%;
    margin: auto;
}

